* {
  padding: 5px;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(154, 206, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 50px;
  padding: 10px;
  background-image: url("https://images.unsplash.com/photo-1612612377337-08573812b370?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.one,
.two,
.three,
.three-five,
.four {
  max-width: 1000px;
  background-color: rgba(0, 13, 27, 0.752);
}

footer,
header {
  background-color: rgba(0, 0, 0, 0.752);
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0;

  align-items: center;
  margin: 0;
}


header {
  justify-content: space-between;
}
footer {
  justify-content: center;
}

.navi {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.icon {
  display: inline-block;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}


.linkedin-icon {
  background-image: url("https://www.linkedin.com/favicon.ico");
}


.github-icon {
  background-image: url("https://github.com/favicon.ico");
}


.gmail-icon {
  background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png");
  background-size: cover;
}

.one {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.oneLeft {
  display: flex;
  flex-direction: column;
}

.heroPic {
  max-width: 300px;
  height: auto;
}

.kuttyPic {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.three {
  display: flex;
  flex-direction: column;
}

.imageSection {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  max-width: 200px;
  height: 500px;
}
.heading {
  text-align: left;
}

.contentFour {
  display: flex;
  flex-direction: column;
}
