body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer, header{
    background-color: #1F2937;
    width: 100%;
}

.heroOne{
    font-size: 40px;
    font-weight: extra-bold;
    color: #F9FAF8;

}

.heroContent, .navi{
    font-size: 18px;
    color: #E5E7EB;


}

.logo{
    font-size: 24px;
    color: #F9FAF8;

}

button, .four{
    background-color: #3882F6;
}

.headingTwo{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.three{
    background-color: #E5E7EB;
    max-width: 1200px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    margin: 0;
}
.navi{
    display: flex;
    justify-content: space-between;
    gap: 10px;
   
}

.one{
    display: flex;
   justify-content: space-between;
   margin: 50px;
   
   
}
.oneLeft{
    
    
}
.oneRight{
    
    
}
.kuttyPic{
    max-width: 100px;
    height: auto;
}
.heroPic{
    max-width: 500px;
    height: auto;
}
.imageSection{
    display: flex;
}

.one, .two, .three, .three-five, .four{
    max-width: 1500px;
}
*{
    padding: 10px
}