/*
{
  padding: 5px;
}*/

body {
  color: rgb(154, 206, 255);
  font-size: large;
  background-image: url("https://images.unsplash.com/photo-1612612377337-08573812b370?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlayContainer{
  background: linear-gradient(0deg, rgba(16, 3, 153, 0.656) 30%, #730062af 90%);
  /* 
  top: 0;
  left: 0;
   */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  
}

.one,
.two,
.three,
.three-five,
.four {

  background-color: rgba(7, 28, 52, 0.672);
  flex: 1;
  width: 100%;
  max-width: 1000px;
  text-align: center;

  

}

footer,
header {
  background-color: rgba(7, 28, 52, 0.672);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}


header {
  justify-content: space-between;
}
footer {
  justify-content: center;
}

.navi {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.icon {
  display: inline-block;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Style the LinkedIn icon */
.linkedin-icon {
  background-image: url("https://www.linkedin.com/favicon.ico");
}

/* Style the GitHub icon */
.github-icon {
  background-image: url("https://github.com/favicon.ico");
}

/* Style the Gmail icon */
.gmail-icon {
  background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png");
  background-size: cover;
}

.one {
  display: flex;
  margin: 50px;
}

.oneLeft {
  display: flex;
  flex-direction: column;
}

.heroPic {
  max-width: 300px;
  height: auto;
}

.kuttyPic {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.three {
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  text-align: justify;
  max-width: 200px;
  height: 500px;
}
.heading {
  text-align: left;
}

.contentFour {
  display: flex;
  flex-direction: column;
 
}

.three-five-content, .two{

  text-align: justify;
}
