* {
  padding: 10px;
  color: rgb(151, 222, 137);
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.one,
.two,
.three,
.three-five,
.four {
  max-width: 1000px;
  background-color: rgb(6, 26, 0);
}

footer,
header {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.heroOne {
  font-size: 40px;
  font-weight: extra-bold;
}

.heroContent,
.navi {
  font-size: 18px;
}

.logo {
  font-size: 24px;
}

button,
.four {
}

.headingTwo {
  font-size: 36px;
  font-weight: extra-bold;
}

.three {
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  margin: 0;
}
.navi {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.one {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.oneLeft {
}
.oneRight {
}
.kuttyPic {
  max-width: 100px;
  height: auto;
}
.heroPic {
  max-width: 500px;
  height: auto;
}
.imageSection {
  display: flex;
}
