/*
{
  padding: 5px;
}*/

body {
  color: rgb(154, 206, 255);
  font-size: large;
  background-image: url("./bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.overlayContainer{
  background: linear-gradient(0deg, rgba(7, 0, 85, 0.683) 30%, #2a0024ef 90%);
  width: 100%;
  /* 
  top: 0;
  left: 0;
  width: 100vw;
   */
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  
}

.one,
.two,
.three,
.three-five,
.four {

  background-color: rgba(7, 28, 52, 0.672);
  flex: 1;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin: 0 100px;
  padding: 0 100px;
  text-align: justify;

  

}

footer,
header {
  background-color: rgba(7, 28, 52, 0.672);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
}


header {
  justify-content: space-between;
}
footer {
  justify-content: center;
}


.navi {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.icon {
  display: inline-block;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}


.linkedin-icon {
  background-image: url("https://www.linkedin.com/favicon.ico");
}


.github-icon {
  background-image: url("https://github.com/favicon.ico");
}

.gmail-icon {
  background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png");
  background-size: cover;
}

.one {
  display: flex;


}

.oneLeft {
  display: flex;
  flex-direction: column;
}

.heroPic {
  max-width: 70%;
  height: auto;
}

.kuttyPic {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.three {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  text-align: justify;
  max-width: 200px;
  height: 500px;
}
.heading {
  text-align: left;
}

.contentFour {
  display: flex;
  flex-direction: column;
 
}

.three-five-content, .two{
  text-align: justify;
}

.signUp{
  margin: 10px 200px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.174);
  color: rgb(154, 206, 255);
}
